[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"beautifulsoup4" = "*"
pyproj = "*"
shapely = {extras = ["vectorized"]}
simplejson = "*"
funcsigs = "*"
pandas = "*"
sqlalchemy = "*"
matplotlib = "*"
cartopy = "*"
cython = "*"
pillow = "*"
scipy = "*"


[dev-packages]

pytest = "*"
coverage = "*"
pytest-cov = "*"
tox = "*"
twine = "*"
pytest-xdist = "*"
sphinx = "*"
sphinx-autobuild = "*"
typing = "*"
sphinxcontrib-spelling = "*"
jupyter = "*"