[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"beautifulsoup4" = "*"
pyproj = "*"
Shapely = {extras = ["vectorized"]}
simplejson = "*"
funcsigs = "*"
pandas = "*"
SQLAlchemy = "*"
matplotlib = "*"
Cython = "*"
Pillow = "*"
scipy = "*"


[dev-packages]

pytest = "*"
coverage = "*"
pytest-cov = "*"
tox = "*"
twine = "*"
pytest-xdist = "*"
Sphinx = "*"
sphinx-autobuild = "*"
typing = "*"
sphinxcontrib-spelling = "*"
